/* font-family: 'Anton', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Kufam', cursive;
font-family: 'Potta One', cursive; */

body {
  /* position: relative; */
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  background: rgb(1, 110, 68);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-family: "Potta One";
}

.navigation a:hover {
  background: #1565c0;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: khaki;
  border-radius: 1%;
}

#welcome-section {
  width: 100%;
  font-family: "Anton", sans-serif;
  color: black;
  text-align: center;
  font-size: 90px;
  letter-spacing: 0.1em;
}




#text-about {
  display: block;
  text-align: center;
}

#text-about h2 {
  font-size: 4vw;
  font-family: "Anton", sans-serif;
}
#text-about p {
  font-size: 2vw;
  font-family: "Kufam", cursive;
}



#projects {
  flex-direction: column;
  width: 100%;
}
#projects h2 {
  font-size: 40px;
  font-family: "Anton", sans-serif;
  margin: 5vw;
}
#projects h3 {
  font-size: 20px;
  font-family: "Kufam", cursive;
  margin: 5vw;
}

#projects-box {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

#projects-box a {
  background: rgba(196, 165, 187, 0.555);
  margin: 0.5em;
  border-radius: 3%;
  text-align: center;
  font-size: 16px;
  font-family: "Kufam", cursive;
}
#projects-box a:hover {
  background: #1565c0;
  transition: 0.3s ease;
}



#box-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#profile-link-box {
  flex-direction: column;
  width: 40%;
}

#box-links img:hover {
  background: #1565c0;
  transition: 0.3s ease;
}

#links h2 {
  font-family: "Exo 2", sans-serif;
}


@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  .section {
    height: 500px;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .section {
    height: 500px;
  }
}
